<!DOCTYPE html>
<html>
  <head>
    <title>Jobs Board</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <style>
    body{

    background : url(http://www.freebiesgallery.com/wp-content/uploads/2013/08/light-blue-background-3.jpg);

	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: auto;
	height: auto;

	background-size: cover;

	z-index: 0;
    }
    </style>

  </head>

  <body>

    <nav class="navbar navbar-light" style="background-color: #9de6f0;" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        <a class="navbar-brand" <%= link_to "Home", root_path %></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li ><%= link_to "Post A Job", new_recruiter_session_path%></li>
          <li ><%= link_to "Login", new_user_session_path%></li>

        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default"  >Submit</button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <%if recruiter_signed_in?%>
          <li><%= link_to current_recruiter.email, edit_recruiter_registration_path%></li>
          <li><%= link_to "Logout", destroy_recruiter_session_path, method: :delete, data: { confirm: 'Are you sure?'}%></li>


          <%end%>
          <%if user_signed_in?%>
          <li><%= link_to "Profile",userinfors_url%></li>
          <li><%= link_to current_user.email, edit_user_registration_path%></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?'}%></li>

          <%end%>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <%= yield %>
</body>
</html>
